<h1>Fill in all sides of your triangle to find out what kind of triangle it is.</h1>
<form action='/type'>
  <div class="form-group">
    <label for="a">Length of Side One:</label>
    <input id="a" name="a" class="form-control input-lg" type="text" placeholder = "Side One">
  </div>
  <div class="form-group">
    <label for="b">Length of Side Two:</label>
    <input id="b" name="b" class="form-control input-lg" type="text" placeholder = "Side Two">
  </div>
  <div class="form-group">
    <label for="c">Length of Side Three:</label>
    <input id="c" name="c" class="form-control input-lg" type="text" placeholder = "Side Three">
  </div>
  <button type="submit" class="btn btn-default">Find type!</button>
</form>
